body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
    background-color: #f0f0f0;
}
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container input[type="date"], .form-container button {
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 20px 0px  ;
    margin: 10px;
    border: 1px solid #777777;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
.form-container button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #0056b3;
}

#botonenviar {
    font-size: 25px;
    font-weight: 500;
    background-color: brown;
}
#fechainicio {
    display: none;
}
#fechafin {
    display: none;
}
img {
    width: 90px;
    display: flex;
    justify-content: center;
    padding: 10px 150px;
}
p {
    display: flex;
    text-decoration: solid;
    justify-content: center; 
}